# This is a GitHub workflow defining a set of jobs with a set of steps.
# ref: https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
#
name: Test

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
  push:
    paths-ignore:
      - "**.md"
      - ".github/workflows/*"
      - "!.github/workflows/test.yaml"
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
    tags:
      - "**"
  workflow_dispatch:

jobs:
  pytest:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.7"
            jupyterhub-version: 1.*
            sqlalchemy-version: 1.*
          - python-version: "3.8"
            jupyterhub-version: 2.0.*
            sqlalchemy-version: 1.*
          - python-version: "3.9"
            jupyterhub-version: 2.*
            sqlalchemy-version: 1.*
          - python-version: "3.10"
            jupyterhub-version: 3.0.*
            sqlalchemy-version: 1.*
          - python-version: "3.11"
            jupyterhub-version: 3.*

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install configurable-http-proxy
        run: |
          npm install -g configurable-http-proxy

      - name: Install Python dependencies
        run: |
          pip install -e . -r dev-requirements.txt

      - name: Install specified jupyterhub version
        if: ${{ matrix.jupyterhub-version }}
        run: |
          pip install --pre jupyterhub==${{ matrix.jupyterhub-version }}
      - name: Install specified sqlalchemy version
        if: ${{ matrix.sqlalchemy-version }}
        run: |
          pip install sqlalchemy==${{ matrix.sqlalchemy-version }}

      - name: List Python dependencies
        run: |
          pip freeze

      - name: Run tests
        run: |
          pytest -v --maxfail=2 --color=yes --cov=jupyterhub_idle_culler

      - uses: codecov/codecov-action@v3
